<p>
  <strong>Student:</strong>
  <%= @progress.student.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @progress.course.title %>
</p>

<p>
  <strong>Completion percentage:</strong>
  <%= "#{@progress.completion_percentage}%" %>
</p>

<p>
  <strong>Status:</strong>
  <%= @progress.status %>
</p>

<%= link_to 'Edit', edit_progress_path(@progress) %> |
<%= link_to 'Back', progresses_path %>
